body{
	margin: 0;
	padding: 0;
}
footer{

	margin-top: 5rem;
	bottom: 0;
	background-color:  #1f222e;
	width: 100%;	
	height: 250px;
	z-index:0;
}
.Rights{
	border-top: 1px solid gray;
}
a{
	text-decoration: none;
}
h6{
	margin: 5px;
	position: absolute;
	bottom: 0;
	right:25%;
	left: 25%;
	color: white;
	font-size: 10px;
	text-align: center;
	border-top: 1px solid gray;
	padding: 5px;
}
.logo{
	height: 100px;
	width: 250px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.logo b{
	color: white;
	font-size: 2rem;
	font-family: 'Teko',sans-serif;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.logo p{
	color: white;
	font-size: 1rem;
}
.logo h5{
	color:  #007bff; 
	font-weight: 900;
	font-size: 1.2rem;
}
.explore{
	position: absolute;
	left: 25%;
	top: 10px;
}
.explore h3{
	color: #007bff;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding: 10px;
	font-size: 20px;
}
.explore a{
	color: white;
}
.explore h3:hover{
	color:  #007bff;
}
.explore a:hover{
	color:  #007bff;
}
.contact{
	position: absolute;
	left: 40%;
	top: 2px;
	font-size: 20px;
}
.contact h3{
	color:  #007bff;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding: 10px;
}
.contact a{
	color: white;
	font-size: 15px;
}
.contact a:hover{
	color:  #007bff;	
}
.trusted{
	position: absolute;
	left: 72%;
	top:0;
	font-size: 20px;
}
.trusted h3{
	border-bottom: 1px solid rgba(255,255,255,0.5);;
	padding: 10px;
	color:  #007bff;
}
.trusted img{
	padding: 10px;
	height: 40px;
	width: 40px;
}